.container {
    width: 100%;
    height: 100vh;
    padding-top: 1px;
    background-image: url('https://pixabay.com/get/g8c367fbb0ae5d1d7d443fec0ace7f50238dae813d6a32eb9056120275423594013f4539d9515634e4b27517577f5388a4a0e9819baac8bc2eb19ee79547301b8_1280.jpg');
    background-size: cover;
}

.weather {
    width: 480px;
    padding: 30px;
    border-radius: 10px;
    margin: 50px auto;
    text-align: center;
    color: white;
    background: linear-gradient(130deg, rgb(86,86,235), rgb(5,5,199));
}

.search {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search input {
    border: none;
    outline: 0;
    padding: 12px 25px;
    font-size: 18px;
    background-color: rgb(222, 237, 243);
    color: black;
    border-radius: 30px;
    flex: 1;
    margin-right: 12px;
}

.search button {
    border: none;
    outline: 0;
    width: 46px;
    height: 46px;
    border-radius: 50%;
    cursor: pointer;
}

.winfo .icon {
    margin-top: 20px;
    width: 170px;
}

.winfo h1 {
    font-size: 50px;
    font-weight: 500;
    margin-top: 5px;
}

.winfo h2 {
    font-size: 40px;
    font-weight: 400;
    margin-top: -10px;
}

.details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px;
    margin-top: 40px;
}

.details .col {
    display: flex;
    align-items: center;
    text-align: left;
}
.details .col img {
    width: 75px;
    margin-right: 10px;
}
.humidity, .wind {
    font-size: 20px;
}
.humidity p, .wind p {
    margin: 0px;
}
.error {
    color: rgb(255, 255, 255);
    font-size: larger;
    text-align: left;
    margin-top: 2px;
    margin-left: 10px;
}

.suggestion {
    background-color: rgb(70, 67, 67);
    margin-top:'1px';
    margin-right: 60px;
    border-bottom: 10px;
    border-color: aqua;
}

.suggestion-main {
    margin-top: 8px;
    cursor: pointer;
}